<h1>
Welcome to MeloLLevo!
</h1>

<h3>
MeloLLevo is a used-goods marketplace specifically designed for low-trust markets. With our platform you can make second-hand purchases confidently, knowing full-well what you're buying (and not only relying on what the vendor says about it), while at the same time being at ease with the information you wish to share with other parties. 
</h3>

<h3>Getting objective information on products with a not-as-transparent history has never been easier! (WIP)</h3>


<a href="/listings"> <button>Listings (Index)</button></a>

